@import "{{ site.theme }}";

  .bg-light {
    background-color: #132231 !important;
  }

  .navbar-light .navbar-brand {
    text-transform: uppercase;
    background-image: linear-gradient(
        -22deg,
        #0059ff24 29%,
        #fa09e6 30%,
        #07eaff 80%
    );
    
    background-size: 60% auto;
    color:#ececec;
    background-clip: text;
    -webkit-text-fill-color:#2ba1b6b6;
    animation: textclip 15s linear infinite;
    display: inherit;
    font-size: 25px;
    
  }
  .navbar-light .navbar-nav .nav-link {
    color: rgba(113, 170, 165, 0.8);
  }


body {
    font-family: 'Arial', sans-serif;
    background-color: #132231 !important;
}


header.jumbotron {
    background: #142331;
    padding: 2rem;
    margin-bottom: 2rem;
}
.display-4{
  color: #a4b0bd;
}
.lead{
  color: #a4b0bd;
}
p{
  color: #a4b0bd;
}

.text-uppercase {
  
  color: aliceblue;
}


footer {
    background: #18232d;
    
}


