.project-image {
    width: -moz-available ;
    max-width: 400px;
    max-height: 300px; /* Adjust the maximum height as needed */
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
    image-rendering: -moz-crisp-edges;
}

body{
    background-color: #18232d
}

.mt-5{
  color:   #a4b0bd;
}
.card-deck{
    display: contents;
}
.card-deck .card{
    background-color: #20262b91;
}